<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2023 The 2by2 Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:allowBackup="false"
    package="com.Aurora.FrameworksResOverlay">
    <overlay android:isStatic="true" android:priority="9999" android:targetPackage="android"/>

    <application android:hasCode="false"/>
</manifest>
